@model sample.Models.QuizResults

<h2>Quiz Result</h2>

<div>
    <label>Total Obtained Marks:</label>
    <span>@Model.totalObtainedMarks</span>
</div>
<div>
    <label>Attempt Date and Time:</label>
    <span>@Model.attemptDateTime</span>
</div>
