@model mvc1.Models.Flowers
<h1>Edit Flower</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="name" class="control-label"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="description" class="control-label"></label>
        <input asp-for="description" class="form-control" />
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="price" class="control-label"></label>
        <input asp-for="price" class="form-control" />
        <span asp-validation-for="price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="imageurl" class="control-label"></label>
        <input asp-for="imageurl" class="form-control" />
        <span asp-validation-for="imageurl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
